# EmailJS public identifiers used on the client
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_emailjs_service_id
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=your_emailjs_template_id

# Google reCAPTCHA v2 site key used on the client
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your_recaptcha_v2_site_key
